nocontent.efi
linux-stable
linux-firmware
vboot_reference
config.txt
newKern
usb/usb
*.cpio
*~
uinit/uinit
tcz/

# definitely ignore upspin! It may have keys.
upspin/

# and ignore .ssh. We DO NOT pull in ~/.ssh.
# if you want .ssh config stuff, you have to put it here.
# This still scares me however. We might want to make
# it not a . file -- they're dangerous.
.ssh/

# Also ignore etc
etc/

# we install binaries into usr/bin, ignore it.
usr/bin/
